#main{
	background-color:gray;
	height:150px; clear:both;
	position:relative;
}


#con1{
	margin-top:5px;
	position:absolute;
	width:400px;
	margin-left:10px;
}


#logo{height:150px; width:150px;
margin-left:590px;
}




#con2{
	float:right;
	margin-top:-35px;
	width:200px;
	font-size:20px;
}